<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Simple Assembler</title>
</head>
<body>
    <div class="container">
        <div class="column-on-page">
            <label for="inputCode">Input Assembly:</label>
            <div class="code-box">
                <div class="line-numbers" id="lineNumbers"></div>
                <textarea id="inputCode" class="code-input" rows="10" cols="30" oninput="assembleAndUpdateLineNumbers()"></textarea>
            </div>
        </div>
        <div class="column-on-page">
            <button onclick="assemble()">Assemble</button>
        </div>
        <div class="column-on-page">
            <label for="outputCode">Output Machine Code:</label>
            <textarea id="outputCode" class="code-output" rows="10" cols="30" readonly></textarea>
        </div>
    </div>
    <script src="instructions.js"></script>
    <script src="script.js"></script>
</body>
</html>
